<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification de Partenariat Accepté</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 90%;
            max-width: 600px;
            margin: auto;
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .icon {
            text-align: center;
            margin-bottom: 20px;
        }
        .icon img {
            max-width: 50px;
            height: auto;
        }
        .content {
            padding: 20px;
            background: #ffffff;
            border-radius: 8px;
            margin-bottom: 20px;
        }
        .greeting {
            font-size: 24px; /* Taille plus grande */
            font-weight: bold; /* Texte en gras */
            color: #083555; /* Couleur spécifique */
            margin-bottom: 20px; /* Espace sous le texte */
        }
        .footer {
            text-align: center;
            font-size: 14px;
            color: #777;
        }
        .footer a {
            color: #007bff;
            text-decoration: none;
        }
        .footer a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="icon">
            <!-- Remplacez 'nom_de_votre_image.png' par le nom réel de l'image -->
            <img src="http://localhost:8055/assets/{{logoIDEA}}" alt="Icône de Partenariat">
        </div>
        <div class="content">
            <p class="greeting">Bonjour {{nomPrenomResponsablePart}},</p>

            <p>Nous avons le plaisir de vous informer que votre demande de partenariat avec l'IDEA Academy a été acceptée et est maintenant active !</p>

            <p>Nous sommes ravis de commencer cette collaboration avec vous et avons hâte de travailler ensemble pour atteindre nos objectifs communs. Vous recevrez bientôt plus d'informations sur les prochaines étapes et les opportunités à venir.</p>

            <p>Si vous avez des questions ou avez besoin de plus d'informations, n'hésitez pas à nous contacter à <a href="mailto:idea.dataconsulting@gmail.com">idea.dataconsulting@gmail.com</a> ou à visiter notre site web à <a href="http://ideaacademy.net">ideaacademy.net</a>.</p>

            <p>Merci de votre intérêt et de votre engagement envers notre mission.</p>

            <p>Cordialement,<br>
            L'équipe de l'IDEA Academy</p>
        </div>
        <div class="footer">
            <p>&copy;  IDEA Academy. Tous droits réservés.</p>
        </div>
    </div>
</body>
</html>

